<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>


    <ion-title>IFAL</ion-title>


  </ion-toolbar>
</ion-header>


<ion-content>


  <ion-card>


    <ion-list *ngIf="this.contentAux == 0">
      <ion-list-header>
        <ion-label>
          <ion-skeleton-text animated style="width: 20%"></ion-skeleton-text>
        </ion-label>
      </ion-list-header>
      <ion-item>
        <ion-label>
          <p>
            <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
          </p>

        </ion-label>
      </ion-item>

      <ion-item>
        <ion-label>
          <p>
            <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
          </p>

        </ion-label>
      </ion-item>

      <ion-item>
        <ion-label>
          <p>
            <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
          </p>

        </ion-label>
      </ion-item>
    </ion-list>
    <div *ngIf="this.contentAux == 1">

      <ion-card-header>
        <ion-card-title>
          Luzes da Casa
        </ion-card-title>
      </ion-card-header>

      <ion-list>

        <!-- Default reorder icon, end aligned items -->
        <ion-item class="" lines="inset">

          <ion-label>
            Sensor de Luz
          </ion-label>
          <ion-toggle slot="end" [(ngModel)]="ldr"></ion-toggle>

        </ion-item>

        <ion-item class="" lines="inset">

          <ion-label>
            Piscina
          </ion-label>
          <ion-toggle slot="end" [(ngModel)]="pool"></ion-toggle>

        </ion-item>

        <ion-item lines="none">

          <ion-label>
            Sala
          </ion-label>
          <ion-toggle slot="end" [(ngModel)]="livingRoom"></ion-toggle>

        </ion-item>




      </ion-list>
    </div>
  </ion-card>

  <ion-card>

    <ion-list *ngIf="this.contentAux == 0">
      <ion-list-header>
        <ion-label>
          <ion-skeleton-text animated style="width: 20%"></ion-skeleton-text>
        </ion-label>
      </ion-list-header>
      <ion-item>
        <ion-label>
          <p>
            <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
          </p>

        </ion-label>
      </ion-item>

      <ion-item>
        <ion-label>
          <p>
            <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
          </p>

        </ion-label>
      </ion-item>

      <ion-item>
        <ion-label>
          <p>
            <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
          </p>

        </ion-label>
      </ion-item>
    </ion-list>

    <div *ngIf="this.contentAux == 1">


      <ion-card-header>
        <ion-card-title>
          Outros
        </ion-card-title>
      </ion-card-header>



      <ion-list>



        <ion-item class="" lines="inset">

          <ion-label>
            Alarme
          </ion-label>
          <ion-toggle slot="end" [(ngModel)]="alarm"></ion-toggle>

        </ion-item>

        <ion-item lines="none">

          <ion-label>
            Sirene
          </ion-label>
          <ion-toggle slot="end" [(ngModel)]="buzzer"></ion-toggle>

        </ion-item>




      </ion-list>
    </div>
  </ion-card>

</ion-content>