<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>


    <ion-title>IFAL</ion-title>

  
  </ion-toolbar>
</ion-header>


<ion-content>


  <ion-card>
<ion-card-header>
  <ion-card-title>
    Luzes da Casa
  </ion-card-title>
</ion-card-header>


  <ion-list>

      <!-- Default reorder icon, end aligned items -->
      <ion-item class="" lines="inset">
        
        <ion-label>
          Sensor de Luz
        </ion-label>
        <ion-toggle slot="end" (ionChange)="homeOptions($event, 'ldr')"></ion-toggle>

      </ion-item>

      <ion-item class="" lines="inset">
        
        <ion-label>
          Piscina
        </ion-label>
        <ion-toggle slot="end" (ionChange)="homeOptions($event, 'pool')"></ion-toggle>

      </ion-item>

      <ion-item lines="none">
        
        <ion-label>
          Sala
        </ion-label>
        <ion-toggle slot="end" (ionChange)="homeOptions($event, 'livingRoom')"></ion-toggle>

      </ion-item>




  </ion-list>
</ion-card>

<ion-card>
  <ion-card-header>
    <ion-card-title>
Outros
    </ion-card-title>
  </ion-card-header>
  
  

  <ion-list>
 


      <ion-item class="" lines="inset">
        
        <ion-label>
          Alarme
        </ion-label>
        <ion-toggle slot="end" (ionChange)="homeOptions($event, 'alarm')"></ion-toggle>

      </ion-item>

      <ion-item lines="none">
        
        <ion-label>
          Sirene
        </ion-label>
        <ion-toggle slot="end" (ionChange)="homeOptions($event, 'buzzer')"></ion-toggle>

      </ion-item>



  
  </ion-list>
</ion-card>

</ion-content>